<ion-img src="assets/banner.png"></ion-img>
<ion-content align="center">
  <ion-card>
    <ion-card-content>

      <p align="center">
        {{x}} <br> {{y}} <br> {{z}}
      </p>
      <ion-input  [(ngModel)]="fn" placeholder="File Name"></ion-input>
      <ion-input  [(ngModel)]="frequency" placeholder="frequency" type="number"></ion-input>
      <ion-button expand="full" (click)="start()" shape="round" fill="outline">Start</ion-button>
      <br>
      <ion-button expand="full" (click)="stop()" shape="round" fill="outline">Stop</ion-button>
      <p align="center">
        {{msg}}
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>
